/*
CSS adicional para la home de...

Theme Name: TEC 8
Author: ISEP - Víctor Cámara
Author URI: https://isep-cba.edu.ar/web/
Description: Tu Escuela en casa
Version: 1.0
*/

/*
TIPOGRAFIA
*/


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}


h1, h2, h3, h4, h5, h6{
font-family: Open Sans;
font-style: semibold;
margin: 0px;
padding: 0px;
}

body{
font-family: Open Sans;
}
.contieneNav{
	padding: 0px;
	min-height: 150px;
	padding-top: 20px;
}


/*
CONTENEDORES
*/


.comunidadContainer {

}

/* ***************/
